<!DOCTYPE html>

<html>
<head>
</head>
<body>
	<div th:fragment="navbar(usu)" class="navbar">
		<nav style="background-color: #8DC3DE; border-color: #8DC3DE;"
			class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#myNavbar">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<img href="" th:src="@{/images/logo.png}" width="50p" height="50"
						style="margin-left: auto; margin-right: auto;" />
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li><a style="color: white" href="#">He&A</a></li>

						<li th:if="${usu == 'JefProd' or usu == 'admin'}" class="dropdown">
							<a style="color: white" class="dropdown-toggle"
							data-toggle="dropdown" href="#">Producci&oacute;n<span
								class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/mantMateriaPrima">Mantenimiento
										MateriaPrima</a></li>
								<li><a href="/ordenCompra">Orden Compra</a></li>
							</ul>
						</li>
						<li th:if="${usu == 'JefVen' or usu == 'admin'}" class="dropdown">
							<a style="color: white" class="dropdown-toggle"
							data-toggle="dropdown" href="#">Ventas<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/mantCliente">Mantenimiento de Clientes</a></li>
								<li><a href="/cotizacionCliente">Cotizaci&oacute;n</a></li>
								<li><a href="/mantProductos">Mantenimiento de Productos</a></li>
								<li><a href="/aprobacionCoti">Aprobar Cotizaciones</a></li>
								<li><a href="/facturacion">Facturaci&oacute;n</a></li>
							</ul>
						</li>

					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a><span style="color: white;"
								class="glyphicon glyphicon-user"></span>&nbsp;<span
								style="color: white;" th:text="${nombreUsuario}"></span></a></li>
						<li><a><span style="color: white;" id="g_tiempo_ind">30:00</span></a></li>
						<li><a href="/logout"> <i style="color: white;" class="fas fa-sign-out-alt"></i>
								&nbsp;<span style="color: white;">Cerrar Sesi&oacute;n</span></a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</body>
</html>